.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.svgBackground0 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.3;
}

.svgBackground1 {
  position: absolute;
  left: 0;
  bottom: -60px;
  z-index: -1;
}

* {
  color: #4F4F4F;
}